.registration-form {
  /* max-width: 400px; */
  /* margin: 0 auto;
  padding: 20px; */
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 850px;
  margin: auto;
  padding-top: 68px;
  padding-bottom: 48px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("https://c1.wallpaperflare.com/preview/716/602/349/girl-white-fun-kid.jpg");
}

.main-form {
  width: 50%;
  padding-left: 45px;
}

.registration-form h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Muli-Bold";
  text-align: center;
  margin-bottom: 32px;
  color: #333;
  letter-spacing: 2px;
}

.registration-form .form-group {
  margin-bottom: 20px;
}

.registration-form button {
  border: none;
  width: 152px;
  height: 40px;
  margin: auto;
  margin-top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #b36c66;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  border-radius: 20px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("src/assets/bg-registration-form-2.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.label {
  margin-bottom: 9px;
  display: block;
}

.input {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: none;
  color: #333;
  font-size: 13px;
}
